#container{
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  width:400px;
  margin:0 auto;
}
.header{
  padding-top: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d5d5d5;
  display:flex;
  flex-direction: column;
  align-items: baseline;
}
h1 {
    font-size: 24px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#a1969f;
}
.title a:hover {
  text-decoration: none;
}

nav ul{
    padding: 0px;
    list-style: none;
}
nav ul li{
    display: inline;
    margin-right: 20px;

}
a {
    text-decoration: none;
    /* color: #a1969f; */
    color:#86c5dd;
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 18px;
    color: black;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 10px;
}

.right p{
  margin:5px;
  color: #a1969f;
  font-size: 14px;
}


/* End of default style */

.home_content{
  padding-top: 30px;
  padding-bottom: 30px;
}
.home_content{
  display:flex;
  flex-direction: column;
}
.profile{
  display: block;
  width:200px;
  height:200px;
  border-radius: 50%;
  margin: auto;
  vertical-align: inherit;
}
.intro{
  margin-left: 20px;
  line-height: 140%;
  width: 85%;
}

/* End of home page style */
.reporting_content{
  padding-top: 30px;
}

.page_intro p{
  font-size: 16px;
}

.article{
  border-bottom: 1px solid #d5d5d5;
  margin-top: 20px;
  padding-top:30px;
}
.article:last-child{
  border-bottom: none;
}
.article a{
  color: black;
  font-weight: bold;
  font-size: 22px;
  margin-top: 15px;
}
.article p{
  color: #a1969f;
  font-size: 16px;
  margin-top:5px;
  padding-bottom: 30px;
  line-height: 150%;
}
.readmore{
  margin-left: auto;
  margin-right: 0;
}
h2{
  color:#86c5dd;
  font-size: 14px;
  font-style: italic;
}
/* end of reporting page */
.graphics{
  padding-top: 30px;
  padding-bottom: 10px;
}


.graphics{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery{
  width: auto;
  height:500px;

}
.center{
  display:block;
  margin-top: auto;
  margin-bottom: auto;
}
.gtitle{
  border-bottom: 1px solid #d5d5d5;
  margin-top: 5px;
  padding-top:5px;
}
.gtitle a{
  color: #a1969f;
  /* font-weight: bold;
  font-size: 22px;
  margin-top: 15px; */
}
/* .gtitle:last-child{
  border-bottom: none;
} */
.gother{
  margin-top: 5px;
  padding-top:5px;
}
.gother a{
  color: #a1969f;
  font-style: italic;
}
@media screen and (min-width:700px){

  #container{
    width:700px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
  }
  .header{
    display: flex;
    flex-direction: row;
  }
  nav{
    margin-right: 0px;
    margin-left: auto;
  }
  .home_content{
    display:flex;
    flex-direction: row;
  }
  .intro{
    display: block;
    width: 70%;
    padding-left: 10px;
  }
  .profpic{
    padding-top: 20px;
  }



}


}
