<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
			<title>{{ page.title }}</title>
      <meta http-equiv="content-type"
  		content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="my.css"/>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    </head>

		<body>
      <div id='container'>
  			<div class = 'header'>
  				<div class ='title'>
  					<a href='index.html'><h1>Yutong Yuan</h1></a>
  				</div>
  				<nav>
  		    		<ul>
  		        		<li><a href="reporting.html">Reporting</a></li>
  								<li><a href="graphics.html">Graphics</a></li>
  								<!-- <li><a href="design/index.html">Design</a></li>-->
  								<li><a href="CV/index.html">CV</a></li>
  								<!--<li><a href="contact/index.html">Contact</a></li> -->
  		    		</ul>
  				</nav>
  			</div>

			        {{ content }}

      <footer>
	    	<div class='right'>
					<p>©Yutong Yuan 2018</p>
				</div>
			</footer>
    </div>
		</body>
	</html>
