<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
			<title>{{ page.title }}</title>
      <meta http-equiv="content-type"
  		content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
  	</head>

		<body>
      <div id='container'>
  			<div class = 'header'>
  				<div class ='title'>
  					<h1>Yutong Yuan</h1>
  				</div>
  				<nav>
  		    		<ul>
  		        		<li><a href="pages/index.html">Reporting</a></li>
  								<li><a href="pages/index.html">Graphics</a></li>
  								<li><a href="/Design">Design</a></li>
  								<li><a href="/CV">CV</a></li>
  								<li><a href="/Contact">Contact</a></li>
  		    		</ul>
  				</nav>
  			</div>

			        {{ content }}

      <footer>
	    	<div class='right'>
					<p>©Yutong Yuan 2018</p>
				</div>
			</footer>
    </div>
		</body>
	</html>
